body {
    background-color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    /*сглаживаение шрифтов*/

    color: #6c7279;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* container */

.container {

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/* header */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;

    background-color: #2a2d48;
}

.header.fixed .header__iner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__iner {
    align-items: center;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
}

/* nav */
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/*intro*/

.intro {
    display: flex;
    flex-direction: column;
    /*каждый новый элемент с нововй строки*/
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: #2a2d48 url(intro_bg.png) no-repeat center;
    background-size: cover;
}

.intro__iner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    /*Отслеживание шрифта у родителей*/
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #d03131;
}

.btn--long {
    min-width: 280px;
    text-align: center;
}

/*features*/

.features {
    display: flex;
    flex-wrap: wrap;
    /*перемещение если не поиещаются для flex*/
    margin: 95px 0;
}


.features__item {
    width: 33.3333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/*works*/
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
    /*скрыть все что за пределами блока*/
}

.works__photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    background-color: rgba(227, 75, 71, .9);

    opacity: 0;

    transition: opacity .2s linear;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

/* works*/
.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    /*найстройки для адаптивности под экраны*/
    margin-bottom: 20px;
}

.team__name {
    font-size: 22px;
    color: #333;
    margin-bottom: 8px;
}

.team__prof {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;

    margin-bottom: 20px;
}

/*social*/

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    opacity: .5;
    transition: opacity .2s linear;

    border: 1px solid #a0a0a0;

}

.social__icon {
    width: 18px;
    height: 18px;
    background: #fff;
}

.social__item:hover {
    opacity: 1;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #333;
    border-radius: 2px;

}

/*Если социал айтем находится в социал футер*/

.social--footer .social__item:hover {
    background-color: #3a3e64;
}

.social--footer .social__icon {
    background-color: #3a3e64;
}


/* REWIEWS */

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__slider.slick-initialized {
    height: auto;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translateY(-50%)
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;

}

.reviews__text {
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    opacity: .5;
    padding: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    opacity: 1;
}

/*Download*/
.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
}

.download__text {
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/*footer*/
.footer {
    padding: 70px 0;

    background-color: #3a3e64;
}

.footer__iner {
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    padding: 0 15px;
    width: 33.3333333%;

    text-align: center;

}

.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.footer_address {
    color: rgba(255, 255, 255.5);
    opacity: .5;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
}

.footer__text {
    color: rgba(255, 255, 255.5);
    opacity: .5;
    line-height: 1.5;
}

.burger {
    display: none;
    padding: 9px 0;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}



/* media */
@media (max-width: 1300px) {
    .works__item {
        width: 50%;
    }
}

@media (max-width: 991px) {
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        right: 0;
        top: 100%;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }

    .burger {
        display: block;
    }

    .intro__title {
        font-size: 40px;
    }

    /*featurs*/
    .features__item {
        width: 50%;
    }

    .team__item {
        width: 50%;
        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        justify-content: center;
    }

    .reviews__photo;

        {
        width: 100%;
    }

    .reviews__content {
        padding-left: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .reviews__img {
        min-width: 991px;
        ;
        right: -15px;
    }
}

@media (max-width: 767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .works__item {
        width: 100%;
        height: 300px;
    }

    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        width: 100%;
        text-align: center;
    }

    .reviews__text {
        font-size: 25px;
    }

    .btn--long {
        min-width: 260px;
    }

    .download {
        margin: 50px 0;
    }

    .footer__block {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__block:last-child {
        margin-bottom: 0;
    }

}

@media (max-width: 425px) {
    .reviews__img {
        left: -500px;
    }
}
